body{
    background-color: dimgray;
}

h1 {
    text-align:center;
    color: White;
    font-size: 60px;
}

form {
    text-align: center;
    justify-content: center;
}


button {
    background-color: red;
    color: white;
    height: 50px;
    width: 160px;
    font-size: 18px;
    border-radius: 5%;
}

input {
    background-color: white;
    color: black;
    height: 50px;
    width: 160px;
    font-size: 18px;
    border-radius: 5%;
}

#search {
    width: 250px;
}